*{
	margin: 0;
	padding: 0;
}
footer{
	font-size: 20px;
}

header{
	background: black;
	width: 100%;
}
.title{
	padding-left: 0.5em;
	height: 100px;
	color: white;
	font-family:'Caveat';
	font-size: 80px;
	}

.date1{
	text-decoration: none;
  font-family:'Caveat';
	font-size: 30px;
	margin-left: 41%;
	color: white;
}
.date{
	font-family:'Caveat';
	font-size: 30px;
	padding-right:15px;
	color: white;
	text-decoration: none; 
}
.date:hover{
  color: greenyellow; /* Schimbam culoarea la text */
  border-left:solid 3px greenyellow;
  border-right:solid 3px greenyellow;
}
.date1:hover{
  color: greenyellow; 
  border-left:solid 3px greenyellow;
  border-right:solid 3px greenyellow;
}

.logo{
	font-family:'Caveat';
	font-size: 90px;
	text-align: center;
}
.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}
.row{
	font-size: 25px;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}

body { 
	background:black;
	 }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid red;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}


textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }
